

:root{
    --Paest:#24f9b9;
    --orenge: rgb(209, 43, 31);
}
@font-face {
    font-family: sakib;
    src: url(../Fonts/Nunito-ExtraBold.ttf);
}

*{
    font-family: 'sakib';  
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

.navbar ul li a img{
    height: 15px;
    width: 16px;
    margin-right: 7px;
}
.navbar ul li a img:hover{
    background-color: white;
}
.switch {
    position: fixed;
    display: inline-block;
    width: 50px;
   
    height: 27px;
    border-radius: 25%;
    right: 70px;top: 10px;
    user-select: none;
    z-index: 10000;
  }
  
  .switch input {display:none;}
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0px;
    border-radius: 25px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    border-radius: 25px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }


*::selection{
    background:var(--Paest);
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:var(--orenge);
}

body{
    background:#000;
    overflow-x: hidden;
    padding-left: 35rem;
}
.togg h3{
    position: fixed;
       float: right;
    top:13px; 
    right:150px;
    display: none; z-index: 10000;
}
.togg .dark{
    display: block;
}
section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    text-align: center;
    border-radius: 5rem;
}
a{
    text-align: center;
}
.btn img{
   
    user-select: none;
  
    
    margin-right: 1rem;
    margin-top: 1rem;
    border-radius: 20%;
    height: 20px;
    width: 20px;
    background-color: #fff;
}

.btn:hover{
    background:var(--Paest);
    color: #111;
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#fff;
}

.heading span{
    color:var(--Paest);
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#1a1a1a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img, .home img.sakib{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid var(--Paest);
}
.home img.sakib{
    margin-bottom: 25px !important;
    height:20rem !important;
    width:20rem !important;
    display: none;
}

header .user .name{
    font-size: 3.5rem;
    color:#fff;
    user-select: none;
}

header .user .post{
    font-size: 2rem;
    color:#eee;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:1rem;
    margin:1.5rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    user-select: none;
    border-radius: 5rem;
}

header .navbar ul li a:hover{
    background:var(--Paest);
    transform: scale(105%);
}

#menu{
    position: fixed;

    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 2rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#fff;
    user-select: none;
}

.home h1{
    font-size:5rem;
    color:#fff;
    user-select: none;
}

.home h1 span{
    color:var(--Paest);
}

.home p{
    font-size:2rem;
    color:#eee;
    padding: 1rem 0;
    line-height: 20px;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:2rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:var(--Paest);
    padding:1rem 0;
    font-weight: normal;
}

.about .row .info h3 span{
    color:#eee;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#222;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}
.btn img.use{
    background-color: transparent !important;
    margin-bottom: 5px;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:var(--Paest);
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #fff;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#eee;
    padding: 1rem 0;
}

.education .box-container .box .i1{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 1rem;
    color:#fff;
    background:var(--Paest);
}

.portfolio .box-container{
    display: flex ;
    align-items: center;
    justify-content: center ;
    flex-wrap: wrap ;
    padding:2rem 0 ;
}

.portfolio .box-container .box{
    height: 20rem ;
    width:26rem ;
    border-radius: 1rem ;
    margin:2rem;
    overflow: hidden;
    cursor: pointer;
}

.portfolio .box-container .box img{
    height:100%;
    width:100% ;
    object-fit: cover ;

}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#fff;
    font-size: 3rem;
    padding-bottom: 2rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#eee;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 img{
    padding: .5rem;
    margin-right: 1rem;
    border-radius: 20%;
    height: 20px;
    width: 20px;
    background-color: #fff;
    background-blend-mode:overlay;
    color:var(--Paest);
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}



















/* media queries  */

@media (max-width:1200px){
   

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }
    .home img.sakib{
        display: none;
    }

}

@media (max-width:991px){

    .home img.sakib{
        display: block;
    }


   header{
       left: -120%;
   }

   #menu{
       display: flex;
       position: fixed;
      
       top:1rem; right:2rem;
       background:rgb(170, 179, 218);
       color:#fff;
       cursor: pointer;
       font-size: 2rem;
     align-items: center;
     justify-content: center;
       z-index: 1000;
       height: 20px;
       width: 45px;
       border-radius: 20px;
       user-select: none;
   }
   #menu img{
    height: 15px;
    width: 25px;
   

}



   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
    .home img.sakib{
        display: block;
    }
 
 }

@media (max-width:400px){
    .switch {
        position: fixed;
        display: inline-block;
        width: 40px;
        
        height: 18px;
        border-radius: 25%;
        right: 70px;top: 10px;
        user-select: none;
       
      }
    
      
      
      .slider:before {
        position: absolute;
        content: "";
        height: 13px;
        width: 13px;
        border-radius: 25px;
        left: 3px;
        bottom: 4px;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
      }
      .togg h3{
        position: fixed;
        float: right;
     top:30px; 
     right:73px;
     display: none; 
     border: 1.5px  solid skyblue;
     border-radius: 20%;
      }

    header{
        width: 100vw;
    }
   
    .home img.sakib{
        display: block;
    }
    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .portfolio .box-container .box{
        width:100% !important;
    }
    

    .contact .row form{
        margin:3rem 0;
    }

 }